html {
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
}

button.navbar-toggle {
	margin: 0;
	padding: 0;
	background-color: transparent !important;
	border: none;
	border-radius: 0;
	line-height: 100%;
	height: auto;
	width: auto;
}

.nav-icon {
	padding: 0;
	margin: 0;
	color: grey;
	font-size: 32px;
	line-height: 68px;
	padding-right: 18px;
}

.nav-icon:hover {
	color: #474747;
}

div.container.head {
	border-color: #D8D8D8;
	border-style: solid;
	border-width: 0 0 .5px 0;
	padding: 0 1.25%;
}

div.navbar-header {
	padding: 0;
	z-index: 5;
	background-color: transparent;
}

nav.navbar.navbar-default.navbar-fixed-top {
	height: auto;
	background-color: white;
	position: fixed !important;
	top: 0px;
	left: 0px;
	-webkit-backface-visibility: hidden;
	width: 100%;
}

nav {
	z-index: 5 !important;
}

nav.navbar.navbar-default {
	margin: 0;
	width: 100%;
}

a.navbar-brand {
	height: auto;
	padding: 0 18px;
}

a.navbar-brand h1 {
	color: black;
	letter-spacing: 6px;
	line-height: 0%;
	font-size: 28px;
	line-height: 68px;
	margin: 0;
}

.navbar-collapse {
	overflow-x: hidden !important;
}

.navbar-nav>li>a {
	font-size: 24px;
	line-height: 68px;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-nav>li>a:hover {
    background-color: whitesmoke !important;
}

.navbar-collapse.collapse.in {
	display: block !important;
}

@media only screen and (max-width: 546px) {
	a.navbar-brand h1 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 398px) {
	a.navbar-brand h1 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 332px) {
	a.navbar-brand h1 {
		font-size: 12px;
	}
}

.spacer {
	background-color: white;
	width: 100%;
	height: 68px;
}

/******************************
	Display toggle icon bars when title overlaps with nav links
******************************/

@media (min-width: 0px) and (max-width: 984px) {
   
	.navbar-header {
	    float: none;
	}

	.navbar-toggle {
	    display: block;
	}

	.navbar-collapse {
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-collapse.collapse {
	    display: none !important;
	}

	.navbar-nav {
	    float: none !important;
	    margin: 7.5px -15px;
	}
	
	.navbar-nav>li {
	    float: none;
	}

	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-size: 75%;
	    line-height: 100%;
	}

	#menu.navbar-collapse.collapse.in {
		border-color: #D8D8D8;
		border-style: solid;
		border-width: .5px 0 0 0;
	}
}

/******************************
	Intended for small devices (phones)
******************************/

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 736px) {
	a.navbar-brand h1 {
		font-size: 72px;
		line-height: 120px;
	}

	.spacer {
		height: 120px;
	}
}