@charset "utf-8";
/*********************************************
	Code by Cameron Cabo, all rights reserved
	
	STYLESHEET
*********************************************/



/******************************
    GENERAL
******************************/

body {
	font-family: Alegreya Sans, Sans-Serif;
	background-color: white;
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	width: 100%;
	vertical-align: top;
}

.whitesmoke {
	background-color: whitesmoke;
}

img {
	width: 100%;
	vertical-align: top;
	overflow: hidden;
}

p {
	text-align: center;
	color: white;
	font-size: 550%;
	width: 100%;
}

h {
	font-size: 50%;
	text-align: center;
	color: #606060;
	top: 12px;
	width: 100%;
}

h1 {
	font-size: 36px;
	text-align: center;
	color: #606060;
	top: 12px;
	width: 100%;
}

a {
	color: #474747;
	text-decoration: none;
}

/******************************
    HEADER
******************************/

.top {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	color: white;
	width: 100%;
	height: .75in;
	font-size: 150%;
	padding: 0;
	margin: 0;
	z-index: 2;
	background-color: white;
	text-align: center;
}

.top-background {
	display: block;
	position: relative;
	color: white;
	width: 100%;
	height: .9in;
	padding: 0;
	margin: 0;
	z-index: 1;
}

.top h {
	color: black;
	font-weight: bold;
	z-index: 2;
	line-height: .75in;
}

/******************************
    HOME
******************************/
.container {
  	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container p {
	line-height: 33.3333vw;
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16.66665vw;
	top: 0;
	z-index: 0;
	color: white;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.container p:hover {
	text-shadow: 0px 0px 32px black;
}

/******************************
    OTHER PAGES
******************************/

section {
	background-color: whitesmoke;
	display: block;
	height: auto;
	overflow-y: auto;
	position: relative;
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.summary {
	display: block;
	height: auto;
	overflow-y: visible;
	position: relative;
	padding: .25in;
	min-height: 2.5in;
	margin: 0;
}

#peach {
	background-color: #ff6666;
}

#green {
	background-color: #00cc66;
}

#blue {
	background-color: #1a8cff;
}

.summary .image {
	display: block;
	height: auto;
	width: 100%;
	background-color: white;
}

.summary .image img {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.summary .summarytext {
	display: block;
	position: relative;
	text-align: left;
	margin: 0;
	padding: 0 0 .165in;
	max-width: 8in;
}

.summary .summarytext h1 {
	font-size: 75%;
	font-weight: bold;
	text-align: left;
	color: white;
	position: relative;
	margin-top: 0;
	line-height: 100%;
}

.summary .summarytext p  {
	top: .05in;
	line-height: 1.5;
	position: relative;
	font-size: 50%;
	text-align: left;
}

.text {
	display: block;
	position: relative;
	clear: both;
	background-color: whitesmoke;
	width: 100%;
	margin: 0;
	padding: 5% 0;
}

.text p {
	color: #474747;
	font-size: 50%;
	top: 0;
	line-height: 1;
}

.section {
	display: block;
	position: relative;
	padding: 0 10% 0;
	white-space: nowrap;
	background-color: whitesmoke;
}


/******************************
    CONTACT
******************************/

.title {
	display: block;
	position: relative;
	margin: 0 10% 10% 10%;
}

.title p {
	color: #474747;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	position: relative;
	line-height: 1;
	text-transform: uppercase;
}

.icons {
	display: block;
	position: relative;
	color: #474747;
	font-size: 50%;
	line-height: 1.5;
	margin: 0 auto;
	z-index: 1;
}

.icons i {
	margin: 2.5% 2.5% 0 2.5%;
	background-color: #ce5252;
	color: #ff6666;
}

#left {
	margin-left: 0;
}

.item {
	display: block;
	position: relative;
	color: #474747;
	font-size: 50%;
	line-height: 1.5;
	margin: 0 0 0 10%;
	z-index: 1;
}

.item ul {
	list-style: none;
}

.item ul a {
	color: #474747;
	text-decoration: none;
}

.contact h3 {
	margin-bottom: -5%;
	text-align: center;
	font-size: 100%;
	display: block;
}

p i.fa {
	font-size: 75%;
	border: none;
	background-color: transparent;
	height: auto;
	width: auto;
	line-height: 100%;
	color: gray;
}

p i.fa:hover {
	color: gray;
}

.row {
	width: 100%;
}

.contact p {
	font-size: 62.5%;
	display: block;
	color: gray;
	text-align: center;
}

.contact p#last {
	margin-bottom: 5%;
}

.contact a:hover {
	text-decoration: none;
}

.contact a:hover i {
	color: #474747;
}

.contact a:hover p {
	color: #474747;
}

.input-group {
	margin-bottom: 2.5%;
}

.contact-wrapper-wrapper {
	padding: 5%;
	margin: 0;
}

.contact-wrapper {
	padding: 2.5%;
	position: relative;
	background-color: white;
	box-shadow: 2px 6px 20px #BBBBBB;
}

.form-group {
}

label {
	font-size: 62.5%;
	width: 20%;
	text-align: right;
	vertical-align: top;
	color: #474747;
}

input, textarea {
	width: 75% !important;
	float: right !important;
}

input#submit {
	width: 20% !important;
	margin: 0 40% !important;
}

/******************************
    ABOUT
******************************/

#full-width {
	width: 100%;
	padding: 2.5%;
	margin: 0 !important;
}

/*Elements in the resume portion of the about section*/
.title2 {
	display: block;
	position: relative;
	clear: both;
	padding: .125in 0;
}

.title2 p {
	color: #474747;
	font-size: 75%;
	width: 100%;
	padding: 0;
	top: 0in;
	margin: .125in 0;
	text-transform: uppercase;
	font-weight: bold;
}

.fact {
	display: inline-block;
	width: 100%;
	position: relative;
	clear: both;
	margin: 2.5% 0;
	background-color: white;
	padding: 2.5%;
    box-shadow: 2px 6px 20px #BBBBBB;
}

.resume-image {
	display: block; 
	position: relative;
	width: 1in;
	margin: 0 .25in .25in 0;
	height: auto;
	float: left;
	clear: none;
}

.fact h {
	font-weight: bold;
	font-size: 50%;
	text-align: left;
	float: left;
	width: auto;
	clear: right;
	line-height: 1.25;
}

.fact h1 {
	font-size: 50%;
	font-style: italic;
	text-align: left;
	width: auto;
	clear: right;
	line-height: 1.25;
}

.fact p {
	text-align: left;
	font-size: 50%;
	color: #474747;
	margin: 0;
	padding: 0;
	line-height: 1.25;
	clear: both;
}

.title3 {
	display: inline-block;
	position: relative;
	padding-bottom: 2.5%;
	float: left;
	clear: right;
}

.resume {
	margin: 5% calc(50% - 1.75in);
	width: auto;
	display: inline-block;
	min-width: 3.5in;
}

.resume p {
	font-size: 75%;
	color: #474747;
	text-align: left;
	padding: 0;
	margin: 0;
	display: inline;
	overflow: auto;
}



/******************************
    ART
******************************/

#pictures {
	padding: 0;
	margin: 0;
}

.gallery {
	background-color: white;
	margin: 2.5%;
	width: 45%;
	float: left;
	height: auto;
	box-shadow: 2px 6px 20px #BBBBBB;
}

.gallery:nth-child(2n) {
	float: right;
}

.gallery h {
	font-style: italic;
	line-height: 1;
	padding: 0;
	margin: 0;
}

.gallery h1 {
	font-size: 50%;
	text-align: left;
	line-height: 1;
	padding: 0;
	margin: 0;
	font-weight: 300;
}

.gallery p {
	font-size: 50%;
	color: #474747;
	text-align: left;
	line-height: 1;
	padding-top: 5%;
	margin: 0;
}

.title4 {
	padding: 5%;
}



/******************************
    DESIGN
******************************/

.design {
	display: inline-block;
	width: 85%;
	position: relative;
	clear: both;
	margin: 2.5%;
	background-color: white;
	padding: 5%;
    box-shadow: 2px 6px 20px #BBBBBB;
}

.design-image {
	display: inline-block; 
	position: relative;
	width: 1.5in;
	margin: 0 .25in .25in 0;
	height: auto;
	float: left;
	clear: none;
}

.design h {
	font-weight: bold;
	font-size: 50%;
	text-align: left;
	float: left;
	width: auto;
	clear: right;
	line-height: 1.25;
}

.design h1 {
	font-size: 50%;
	font-style: italic;
	text-align: left;
	width: auto;
	line-height: 1.25;
}

.design p {
	position: relative;
	text-align: left;
	font-size: 50%;
	color: #474747;
	margin: 0;
	padding: 0;
	line-height: 1.25;
	float: none;
	clear: none;
}

.designtitle {
	display: inline-block;
	position: relative;
	padding-bottom: 2.5%;
	float: none;
	clear: right;
}

#last {
	margin-bottom: 10%;
}


/******************************
    ICONS, HOVERING, ETC.
******************************/

.top h:hover {
	text-shadow: 4px 4px 6px #999999;
}

.fa {
    width: .5in;
    height: .5in;
    line-height: .5in;
    font-size: .25in;
	text-align: center;
    background-color: #AAA;
    color: whitesmoke;
	border-radius: 100%;
}

.resume .fa {
    font-size: 75%;
	width: auto;
	height: auto;
	background-color: whitesmoke;
	text-align: center;
    color: #AAA;
	margin-right: 2.5%;
}

.item i {
	margin-left: 10%;
}

.fa:hover {
	color: white;
}

.fa-linkedin:hover {
	background-color: #0077B5;
}

.fa-facebook:hover {
	background-color: #3b5998;
}

.fa-instagram:hover {
	background-color: #8a3ab9;
}

.fa-github:hover {
	background-color: #444;
}

img:hover {
	opacity: .75;
}

.image h {
	opacity: 0;
}

.image h:hover {
	opacity: 1;
}

.image p {
	opacity: 0;
}

.image p:hover {
	opacity: 1;
}

.item ul a:hover {
	text-decoration: underline;
}

.fact p a:hover {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}



/******************************
    FOOTER
******************************/

footer {
	display: block;
	position: relative;
	background-color: white;
	width: 100%;
	height: auto;
	overflow-y: visible;
	border-color: #D8D8D8;
	border-style: solid;
	border-width: .5px 0 0 0;
	text-align: center;
	padding: 2.5% 0;
}

footer h {
	color: black;
	font-size: 18px;
}